<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../static/img/icn/upload-48.ico">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base/reset.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base/normalize.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base/header.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base/footer.css')}}">
        {% block customCss %}
        {% endblock %}
    </head>
    <body>
        <header>
            <a href="{{ url_for('index') }}">
                <div class="logo">
                    <img src="../static/img/icn/upload-48.png" alt="logo de la pagina">
                    <h1 class="header__titulo">BLOG</h1>
                </div>
            </a>
            <div class="login_register">
                <ul class="login_register">
                    <li><a href="{{ url_for('login') }}" class="login_register__lista--link">Ingresar</a></li>
                    <li><a href="{{ url_for('register') }}" class="login_register__lista--link">Registrarse</a></li>
                </ul>
            </div>
            <nav class="navegacion">
                <ul class="navegacion__lista">
                    <li><a href="{{ url_for('index') }}" class="navegacion__lista--link">Inicio</a></li>
                    <li><a href="{{ url_for('categorias') }}" class="navegacion__lista--link">Categorías</a></li>
                    <li><a href="{{ url_for('contacto') }}" class="navegacion__lista--link">Contáctenos</a></li>
        
                </ul>
            </nav>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <footer>
            <nav>
                <ul class="footer__links--lista">
                    <li><a href="#" class="footer__links--link"><img src="../static/img/ft/instagram.png" alt="icono de instagram"></a></li>
                    <li><a href="https://www.linkedin.com/in/matias-fossati-49779b1a6/" class="footer__links--link"><img src="../static/img/ft/linkedin-2-42.png" alt="icono de linkedin"></a></li>
                    <li><a href="https://github.com/Matias5598" class="footer__links--link"><img src="../static/img/ft/github-8-42.png" alt="icono de github"></a></li>
                    <li><a href="{{ url_for('contacto') }}" class="footer__links--link"><img src="../static/img/ft/message-42.png" alt="icono de correo"></a></li>
                </ul>
            </nav>
            <p class="copyright">Desarrollado por Matias Fossati-2022</p>
        </footer>
    </body>
</html>