footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem 0;
}


.footer__links--lista{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}


.footer__links--link img:hover{
    transform: scale(1.2);
    transition: 1s;
}

.copyright{
    color: white;
}